#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman temporal-app.service
BindsTo=postiz.service
After=postiz.service postiz-postgresql-app.service temporal-elasticsearch-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/temporal-app.pid %t/temporal-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run \
    --conmon-pidfile %t/temporal-app.pid \
    --cidfile %t/temporal-app.ctr-id \
    --cgroups=no-conmon \
    --pod-id-file %t/postiz.pod-id \
    --replace \
    -d \
    --name temporal-app \
    --volume dynamic-config:/etc/temporal/config/dynamicconfig:Z \
    --env-file temporal.env \
    ${AUTO_SETUP_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/temporal-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP temporal-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/temporal-app.ctr-id
PIDFile=%t/temporal-app.pid
Type=forking

[Install]
WantedBy=default.target
